.section-subtitle_theme_dark {
  display: flex;
  justify-content: center;
  padding: 20px 20% 60px;
  margin: 0;
  font-weight: 400;
  width: 60%;
  font-family: 'Inter', 'Arial', sans-serif; 
  line-height: 34px;
  font-size: 24px;
  color: #fff;
  position: relative;
  z-index: 2;
}
